@page
@model eStoreClient.Pages.ProductPage.AddProductModel
@{
}

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        @*<div class="title">
                        <h4>Form</h4>
                        </div>*@
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a asp-page="Product">Product List</a></li>
                                <li class="breadcrumb-item active" aria-current="page">Add Product</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Default Basic Forms Start -->
            <div class="pd-20 card-box mb-30">
                <form method="post">
                    <div class="form-group row">
                        <label asp-for="ProductAddRequest.ProductName" class="col-sm-12 col-md-2 col-form-label">Product Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ProductAddRequest.ProductName" class="form-control" type="text" placeholder="Product name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductAddRequest.Weight" class="col-sm-12 col-md-2 col-form-label">Weight</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ProductAddRequest.Weight" class="form-control" type="text" placeholder="Weight">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductAddRequest.UnitPrice" class="col-sm-12 col-md-2 col-form-label">UnitPrice</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ProductAddRequest.UnitPrice" class="form-control" type="text" placeholder="UnitPrice">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="ProductAddRequest.UnitsInStock" class="col-sm-12 col-md-2 col-form-label">UnitsInStock</label>
                        <div class="col-sm-12 col-md-10">
                            <input asp-for="ProductAddRequest.UnitsInStock" class="form-control" type="text" placeholder="UnitsInStock">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>@Html.LabelFor(c=>c.ProductAddRequest.CategoryId)</label>
                        <select asp-for="ProductAddRequest.CategoryId" class="custom-select2 form-control" style="width: 100%; height: 38px;">
                            @foreach(var item in Model.listCategory)
                            {
                                <option value="@item.CategoryId">@item.CategoryName</option>
                            }
                        </select>
                    </div>
                    <div class="btn-list">
                        <button type="submit" class="btn btn-primary">Save</button>
                        <a asp-page="Product" type="submit" class="btn btn-danger">Cancel</a>
                    </div>
                </form>
            </div>
            <!-- Default Basic Forms End -->

        </div>
    </div>
</div>